<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Encontre seu match</h1>
    <p class="lead">
      Venha encontrar seus matchs... Tudo o que você precisa é se registrar
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Registrar</button>
      <button class="btn btn-primary btn-lg">Leia mais</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
